@use "@/styles/variables" as *;

.form {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  margin-bottom: $space-5;
}

.title {
  color: $color-text;
  font-size: $font-size-xl;
  font-weight: 700;
  margin-bottom: $space-3;
}

.formError {
  color: $color-red;
  font-size: $font-size-sm;
  margin-bottom: $space-3;
}

.formSuccess {
  color: $color-success;
  font-size: $font-size-sm;
  margin-bottom: $space-3;
}
