@use "./variables" as *;
@use "./mixins" as *;

body {
  min-height: 100vh;
  background-color: $color-bg;
  
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

.cinetime-page {
  padding: 48px 0;
}

.cinetime-panel {
  @include glass-panel;
  padding: 24px;
}
